---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'button'> & {
    tooltip?: string;
    size?: 'sm' | 'md' | 'lg';
};
const { tooltip, size = 'lg', ...props } = Astro.props;

export type ButtonProps = Props;
---

<style
    define:vars={{
        size: size === 'sm' ? '1rem' : size === 'md' ? '1.25rem' : '1.5rem',
    }}
>
    button {
        all: unset;
        color: #fff;

        width: var(--size);
        height: var(--size);

        cursor: pointer;
        transition: transform 150ms ease-in-out;
    }

    button:active {
        transform: scale(0.9);
    }

    button {
        position: relative;
        display: inline-block;
    }
</style>

<style lang="scss">
    .tooltip-text {
        visibility: hidden;
        position: absolute;
        width: min-content;
        background-color: #000000;
        color: #fff;
        text-align: left;
        padding: 0.5rem 1rem;
        z-index: 1;
        opacity: 0;
        text-wrap: nowrap;
        transition: opacity ease-in-out 0.6s;
    }

    button:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }

    .tooltip-top {
        bottom: 150%;
        // left: 50%;
        margin-left: -1rem;
    }
</style>

<button {...props}>
    {tooltip && <span class="tooltip-text tooltip-top">{tooltip}</span>}
    <slot />
</button>
