---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
    tooltip?: string;
    size?: 'sm-rect' | 'md-rect' | 'lg-rect';
};
const { tooltip, size = 'md-rect', ...props } = Astro.props;
---

<style lang="scss" define:vars={{ sw: size === 'sm-rect' ? '1rem' : '1.5rem' }}>
    a {
        all: unset;
        color: #fff;

        width: var(--sw);
        height: var(--sw);
        cursor: pointer;
        transition: transform 150ms ease-in-out;
    }

    a:active {
        transform: scale(0.9);
    }

    a {
        position: relative;
        display: inline-block;
    }
</style>

<style lang="scss">
    .tooltip-text {
        visibility: hidden;
        position: absolute;
        width: min-content;
        background-color: #000000;
        color: #fff;
        text-align: left;
        padding: 0.5rem 1rem;
        z-index: 1;
        opacity: 0;
        text-wrap: nowrap;
        transition: opacity ease-in-out 0.6s;
    }

    a:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }

    .tooltip-top {
        bottom: 150%;
        // left: 50%;
        margin-left: -1rem;
    }
</style>

<a {...props}>
    {tooltip && <span class="tooltip-text tooltip-top">{tooltip}</span>}
    <slot />
</a>
