---
import Button from '~/components/atoms/Button.astro';

const id = Math.random().toString(36).substring(2, 15);
---

<style lang="scss">
    [popover] {
        inset: unset;

        padding: 0;
        border: 0;
        margin: 0;

        overflow: visible;
    }

    .trigger {
        position: fixed;
        right: 1.5rem;
        bottom: 1.5rem;
        z-index: 10;
    }

    .popover {
        right: 1rem;
        bottom: 1rem;

        &::backdrop {
            background-color: lch(0% 0 360);
            opacity: 0.5;
        }
    }

    .container {
        padding: 0.5rem;

        gap: 1rem;
        display: flex;
        justify-content: space-between;

        background-color: #000;

        z-index: 10;
    }

    @supports (-webkit-backdrop-filter: blur(2px)) or
        (backdrop-filter: blur(2px)) {
        /* Styles for browsers that support backdrop-filter */
        /* Use the non-prefixed property when supported, or the -webkit- version as a fallback */
        .popover::backdrop {
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
        }
    }
</style>

<Button class="trigger" popovertarget={id}>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
    >
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.99995 1.6001C4.79995 4.53343 3.19995 6.93343 3.19995 9.6001C3.19995 12.2511 5.34899 14.4001 7.99995 14.4001C10.6509 14.4001 12.8 12.2511 12.8 9.6001C12.8 6.93343 11.2 4.53343 7.99995 1.6001ZM11.7333 9.6001C11.7333 7.58626 10.638 5.62351 7.99995 3.06524C5.36194 5.62351 4.26662 7.58626 4.26662 9.6001C4.26662 11.662 5.93808 13.3334 7.99995 13.3334C10.0618 13.3334 11.7333 11.662 11.7333 9.6001Z"
            fill="white"></path>
        <path
            d="M11.7333 9.6001C11.7333 7.58626 10.638 5.62351 7.99995 3.06524C5.36194 5.62351 4.26662 7.58626 4.26662 9.6001C4.26662 11.662 5.93808 13.3334 7.99995 13.3334C10.0618 13.3334 11.7333 11.662 11.7333 9.6001Z"
            fill="white"></path>
    </svg>
</Button>
<div id={id} class="popover" popover="auto">
    <div dir="rtl" class="container">
        <Button size="md" popovertarget={id}>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.25rem"
                height="1.25rem"
                viewBox="0 0 15 15"
            >
                <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    d="M12.854 2.854a.5.5 0 0 0-.708-.708L7.5 6.793L2.854 2.146a.5.5 0 1 0-.708.708L6.793 7.5l-4.647 4.646a.5.5 0 0 0 .708.708L7.5 8.207l4.646 4.647a.5.5 0 0 0 .708-.708L8.207 7.5l4.647-4.646Z"
                    cli-rule="evenodd"></path>
            </svg>
        </Button>
    </div>
</div>
