---
import Securing from '~/components/Securing.astro';
import Designing from '~/components/Designing.astro';
import Improving from '~/components/Improving.astro';
---

<style lang="scss">
    .container {
        font-variant: small-caps;
        font-weight: 500;

        max-width: 100%;
        width: 30rem;

        .greeting {
            margin: 0;
            font-size: 4.5rem;
        }
    }

    .further-on-current {
        position: relative;
        text-align: justify;
        margin-top: 4rem;
        font-size: 1.5rem;
    }
</style>

<div class="container">
    <h1 class="greeting">hey - i am alex</h1>
    <p class="further-on-current">
        cyber security student, software developer and law enthusiast. right now
        i am awaiting placement for the winter semester at the university of
        bonn. my passion lies in <Designing />, <Securing />, and <Improving />.
    </p>
</div>
