<style lang="scss">
    .container {
        font-variant: small-caps;
        font-weight: 500;

        max-width: 100%;
        width: 30rem;

        .greet {
            margin: 0;
            font-size: 4.5rem;
        }
    }

    .about {
        position: relative;
        margin-top: 4rem;
        font-size: 1.5rem;

        text-align: justify;
    }
</style>

<div class="container">
    <h1 class="greet">
        <slot name="title" />
    </h1>
    <p class="about">
        <slot name="about" />
    </p>
</div>
