---
import Button from "./atoms/Button.astro";
---

<style lang="scss">
    .container {
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
    }
</style>

<div class="container">
    <Button>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.59995 8.00018C5.15813 8.00018 4.79995 8.35835 4.79995 8.80018V18.4002C4.79995 18.842 5.15813 19.2002 5.59995 19.2002H18.4C18.8417 19.2002 19.2 18.842 19.2 18.4002V8.80018C19.2 8.35835 18.8417 8.00018 18.4 8.00018H16.4C15.9581 8.00018 15.6 7.642 15.6 7.20018C15.6 6.75835 15.9581 6.40018 16.4 6.40018H18.4C19.7254 6.40018 20.8 7.47469 20.8 8.80018V18.4002C20.8 19.7257 19.7254 20.8002 18.4 20.8002H5.59995C4.27446 20.8002 3.19995 19.7257 3.19995 18.4002V8.80018C3.19995 7.47469 4.27446 6.40018 5.59995 6.40018H7.59995C8.04178 6.40018 8.39995 6.75835 8.39995 7.20018C8.39995 7.642 8.04178 8.00018 7.59995 8.00018H5.59995ZM11.2 2.61832L8.90907 4.9092C8.62789 5.19037 8.17202 5.19037 7.89083 4.9092C7.60966 4.62802 7.60966 4.17214 7.89083 3.89096L11.4908 0.290963C11.6259 0.155936 11.809 0.0800781 12 0.0800781C12.1909 0.0800781 12.374 0.155936 12.5091 0.290963L16.1091 3.89096C16.3902 4.17214 16.3902 4.62802 16.1091 4.9092C15.8279 5.19037 15.372 5.19037 15.0908 4.9092L12.8 2.61832V13.6001C12.8 14.0419 12.4418 14.4001 12 14.4001C11.5581 14.4001 11.2 14.0419 11.2 13.6001V2.61832Z"
                fill="white"></path>
        </svg>
    </Button>
    <Button>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
        >
            <path
                d="M20.8125 14.25C20.8125 14.3992 20.7532 14.5423 20.6477 14.6477C20.5423 14.7532 20.3992 14.8125 20.25 14.8125H17.8125V16.6875H19.5C19.6492 16.6875 19.7923 16.7468 19.8977 16.8523C20.0032 16.9577 20.0625 17.1008 20.0625 17.25C20.0625 17.3992 20.0032 17.5423 19.8977 17.6477C19.7923 17.7532 19.6492 17.8125 19.5 17.8125H17.8125V19.5C17.8125 19.6492 17.7532 19.7923 17.6477 19.8977C17.5423 20.0032 17.3992 20.0625 17.25 20.0625C17.1008 20.0625 16.9577 20.0032 16.8523 19.8977C16.7468 19.7923 16.6875 19.6492 16.6875 19.5V14.25C16.6875 14.1008 16.7468 13.9577 16.8523 13.8523C16.9577 13.7468 17.1008 13.6875 17.25 13.6875H20.25C20.3992 13.6875 20.5423 13.7468 20.6477 13.8523C20.7532 13.9577 20.8125 14.1008 20.8125 14.25ZM8.4375 16.125C8.4375 16.7715 8.18069 17.3915 7.72357 17.8486C7.26645 18.3057 6.64647 18.5625 6 18.5625H5.0625V19.5C5.0625 19.6492 5.00324 19.7923 4.89775 19.8977C4.79226 20.0032 4.64918 20.0625 4.5 20.0625C4.35082 20.0625 4.20774 20.0032 4.10225 19.8977C3.99676 19.7923 3.9375 19.6492 3.9375 19.5V14.25C3.9375 14.1008 3.99676 13.9577 4.10225 13.8523C4.20774 13.7468 4.35082 13.6875 4.5 13.6875H6C6.64647 13.6875 7.26645 13.9443 7.72357 14.4014C8.18069 14.8585 8.4375 15.4785 8.4375 16.125ZM7.3125 16.125C7.3125 15.7769 7.17422 15.4431 6.92808 15.1969C6.68194 14.9508 6.3481 14.8125 6 14.8125H5.0625V17.4375H6C6.3481 17.4375 6.68194 17.2992 6.92808 17.0531C7.17422 16.8069 7.3125 16.4731 7.3125 16.125ZM15.1875 16.875C15.1875 17.7204 14.8517 18.5311 14.2539 19.1289C13.6561 19.7267 12.8454 20.0625 12 20.0625H10.5C10.3508 20.0625 10.2077 20.0032 10.1023 19.8977C9.99676 19.7923 9.9375 19.6492 9.9375 19.5V14.25C9.9375 14.1008 9.99676 13.9577 10.1023 13.8523C10.2077 13.7468 10.3508 13.6875 10.5 13.6875H12C12.8454 13.6875 13.6561 14.0233 14.2539 14.6211C14.8517 15.2189 15.1875 16.0296 15.1875 16.875ZM14.0625 16.875C14.0625 16.328 13.8452 15.8034 13.4584 15.4166C13.0716 15.0298 12.547 14.8125 12 14.8125H11.0625V18.9375H12C12.547 18.9375 13.0716 18.7202 13.4584 18.3334C13.8452 17.9466 14.0625 17.422 14.0625 16.875ZM3.9375 10.5V3.75C3.9375 3.4019 4.07578 3.06806 4.32192 2.82192C4.56806 2.57578 4.9019 2.4375 5.25 2.4375H14.25C14.324 2.43744 14.3973 2.45199 14.4657 2.4803C14.534 2.50861 14.5961 2.55014 14.6484 2.6025L19.8984 7.8525C20.0036 7.95804 20.0626 8.101 20.0625 8.25V10.5C20.0625 10.6492 20.0032 10.7923 19.8977 10.8977C19.7923 11.0032 19.6492 11.0625 19.5 11.0625C19.3508 11.0625 19.2077 11.0032 19.1023 10.8977C18.9968 10.7923 18.9375 10.6492 18.9375 10.5V8.8125H14.25C14.1008 8.8125 13.9577 8.75324 13.8523 8.64775C13.7468 8.54226 13.6875 8.39918 13.6875 8.25V3.5625H5.25C5.20027 3.5625 5.15258 3.58225 5.11742 3.61742C5.08225 3.65258 5.0625 3.70027 5.0625 3.75V10.5C5.0625 10.6492 5.00324 10.7923 4.89775 10.8977C4.79226 11.0032 4.64918 11.0625 4.5 11.0625C4.35082 11.0625 4.20774 11.0032 4.10225 10.8977C3.99676 10.7923 3.9375 10.6492 3.9375 10.5ZM14.8125 7.6875H18.1425L14.8125 4.3575V7.6875Z"
                fill="white"></path>
        </svg>
    </Button>
    <Button>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
        >
            <path
                d="M20.25 18.75C20.25 18.9489 20.171 19.1397 20.0303 19.2803C19.8897 19.421 19.6989 19.5 19.5 19.5C19.3011 19.5 19.1103 19.421 18.9697 19.2803C18.829 19.1397 18.75 18.9489 18.75 18.75C18.75 11.3062 12.6938 5.25 5.25 5.25C5.05109 5.25 4.86032 5.17098 4.71967 5.03033C4.57902 4.88968 4.5 4.69891 4.5 4.5C4.5 4.30109 4.57902 4.11032 4.71967 3.96967C4.86032 3.82902 5.05109 3.75 5.25 3.75C13.5206 3.75 20.25 10.4794 20.25 18.75ZM5.25 10.5C5.05109 10.5 4.86032 10.579 4.71967 10.7197C4.57902 10.8603 4.5 11.0511 4.5 11.25C4.5 11.4489 4.57902 11.6397 4.71967 11.7803C4.86032 11.921 5.05109 12 5.25 12C7.0396 12.002 8.75534 12.7138 10.0208 13.9792C11.2862 15.2447 11.998 16.9604 12 18.75C12 18.9489 12.079 19.1397 12.2197 19.2803C12.3603 19.421 12.5511 19.5 12.75 19.5C12.9489 19.5 13.1397 19.421 13.2803 19.2803C13.421 19.1397 13.5 18.9489 13.5 18.75C13.4975 16.5627 12.6275 14.4657 11.0809 12.9191C9.53425 11.3725 7.43728 10.5025 5.25 10.5ZM5.625 17.25C5.4025 17.25 5.18499 17.316 4.99998 17.4396C4.81498 17.5632 4.67078 17.7389 4.58564 17.9445C4.50049 18.15 4.47821 18.3762 4.52162 18.5945C4.56503 18.8127 4.67217 19.0132 4.82951 19.1705C4.98684 19.3278 5.1873 19.435 5.40552 19.4784C5.62375 19.5218 5.84995 19.4995 6.05552 19.4144C6.26109 19.3292 6.43679 19.185 6.5604 19C6.68402 18.815 6.75 18.5975 6.75 18.375C6.75 18.0766 6.63147 17.7905 6.4205 17.5795C6.20952 17.3685 5.92337 17.25 5.625 17.25Z"
                fill="white"></path>
        </svg>
    </Button>
    <Button>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
        >
            <path
                d="M12 21C13.78 21 15.5201 20.4722 17.0001 19.4832C18.4802 18.4943 19.6337 17.0887 20.3149 15.4442C20.9961 13.7996 21.1743 11.99 20.8271 10.2442C20.4798 8.49836 19.6226 6.89472 18.364 5.63604C17.1053 4.37737 15.5016 3.5202 13.7558 3.17294C12.01 2.82567 10.2004 3.0039 8.55585 3.68509C6.91131 4.36628 5.50571 5.51983 4.51677 6.99987C3.52784 8.47991 3 10.22 3 12C3 13.488 3.36 14.89 4 16.127L3 21L7.873 20C9.109 20.639 10.513 21 12 21Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </svg>
    </Button>
</div>